body {
    color: #fff;
    background-color: #4F8BF9;
}
color: #4E4098;
  background: rgb(186,161,231)!important;
  background: linear-gradient(180deg, rgba(186,161,231,1) 0%, rgba(225,199,227,1) 20%, rgba(255,255,255,1) 100%)!important;
}
.stButton>button {
    color: #4F8BF9;
    border-radius: 50%;
    height: 3em;
    width: 3em;
}

.stTextInput>div>div>input {
    color: #4F8BF9;
}
