

body {
    color: #fff;
    background: linear-gradient(#C88F0A,white)!important;

    /*background-color: #C88F0A;*/
}

.listFont{
    font-size: 18px;
    font-family:"verdana";

}
.stApp {
  /*background: url("apache-spark1.jpg")*/
  background: linear-gradient(#C88F0A,white)!important;
  
}
.stButton>button {
    color: #4F8BF9;
    border-radius: 50%;
    height: 3em;
    width: 3em;
}

.stTextInput>div>div>input {
    color: #4F8BF9;
}

